<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Bundle Transfer</mat-card-title>
    </mat-card-header>

<mat-card-content class="b-t-1">
    <form>
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Current Team</mat-label>
        <mat-form-field appearance="outline" class="w-100">   
            <mat-select>
                <mat-option value="TEAM1">Team 1</mat-option>
                <mat-option value="TEAM2">Team 2</mat-option>
                <mat-option value="TEAM3">Team 3</mat-option>
                <mat-option value="TEAM4">Team 4</mat-option>
            </mat-select>

        </mat-form-field>
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Tranfer To</mat-label>
        <mat-form-field appearance="outline" class="w-100">   
            <mat-select>
                <mat-option value="TEAM1">Team 1</mat-option>
                <mat-option value="TEAM2">Team 2</mat-option>
                <mat-option value="TEAM3">Team 3</mat-option>
                <mat-option value="TEAM4">Team 4</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Transfer Reason</mat-label>
        <mat-form-field appearance="outline" class="w-100">   
            <mat-select>
                <mat-option value="REASON1">Reason 1</mat-option>
                <mat-option value="REASON2">Reason 2</mat-option>
                <mat-option value="REASON3">Reason 3</mat-option>
                <mat-option value="REASON4">Reason 4</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary">New Note Issue</button>
        <br><br><mat-divider></mat-divider><br><!-- Divider Here-->

        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">TAG ID</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter TAG ID" type="text">
        </mat-form-field>
        <button mat-raised-button color="primary">Transfer TAG</button>
        <br><br><mat-divider></mat-divider><br><!-- Divider Here-->

        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Bundle ID</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput placeholder="Enter Bundle ID" type="text">
        </mat-form-field>
        <button mat-raised-button color="primary">Transfer Bundle</button>
        <br><br><mat-divider></mat-divider><br><!-- Divider Here-->


        <button mat-raised-button color="primary">Refresh Transfer Details</button>
    </form>
</mat-card-content>
</mat-card>
