<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Size Grid</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
        <!-- input -->
        <div class="row-container">
          <div class="field-container">
            <!-- Size Grid Code -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Size Grid Code</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter size grid code" type="text" formControlName="sizeGridCode" (keydown)="onKeyPress($event)" />
            <mat-error *ngIf="sizeGridCodeError">{{ sizeGridCodeError() }}</mat-error>
            </mat-form-field>
          </div>
          <div class="field-container">
            <!-- Size Grid Code -->
            <!-- Size Grid Name -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Size Grid Name</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter size grid name" type="text" formControlName="sizeGridName" (keydown)="onKeyPress($event)" />
            <mat-error *ngIf="sizeGridNameError">{{ sizeGridNameError() }}</mat-error>
            </mat-form-field>
          </div>  
        </div> 
        
        
        <!--  -->
        <!-- <br> -->
        <div class="m-t-12">
          <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
            <span *ngIf="!isLoading">Add</span>
            <mat-spinner *ngIf="isLoading" diameter="20" mode="indeterminate"></mat-spinner>
          </button>
        </div>
      </form>
      <!-- <br/> -->
      <!-- <app-size-grid-data-table></app-size-grid-data-table>     -->
      <app-size-grid-data-table [dataSource]="dataSource"></app-size-grid-data-table>
    </mat-card-content>
  </mat-card>
  