<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Tag Allocation</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form>
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Bundle ID</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Enter Bundle ID" type="text">
        </mat-form-field>
  
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Location</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select>
            <mat-option value="WAREHOUSE_A">Warehouse A</mat-option>
            <mat-option value="WAREHOUSE_B">Warehouse B</mat-option>
            <mat-option value="PRODUCTION_LINE_1">Production Line 1</mat-option>
            <mat-option value="PRODUCTION_LINE_2">Production Line 2</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Tag ID</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Enter Tag ID" type="text">
        </mat-form-field>

        <div class="m-t-12">
          <button mat-raised-button color="primary">Allocate</button>
        </div>
      </form>
      <br>
      <div class="status-message">
        <mat-icon>error</mat-icon>
        Bundle already tagged
      </div>

    </mat-card-content>
  </mat-card>