<mat-toolbar class="topbar">
  <app-branding></app-branding>

  <!-- --------------------------------------------------------------- -->
  <!-- Desktop Menu -->
  @if(showToggle) {
  <button mat-icon-button (click)="toggleCollapsed.emit()" class="d-flex align-items-center justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  }

  <!-- Mobile Menu -->
  @if(!showToggle) {
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex align-items-center justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  }

  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!--  Search -->
  <!-- --------------------------------------------------------------- -->

  <div class="d-none d-lg-flex">
    <!-- --------------------------------------------------------------- -->
    <!--  Links -->
    <!-- --------------------------------------------------------------- -->
  </div>

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- langugage Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <button mat-icon-button aria-label="lightdark" class="d-flex justify-content-center" (click)="setDark()">
    <i-tabler class="d-flex icon-22" [name]="options.theme === 'dark' ? 'sun' : 'moon'"></i-tabler>
  </button>

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Messages Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button mat-icon-button extended [matMenuTriggerFor]="profilemenu" aria-label="Notifications"
    class="position-relative d-flex align-items-center justify-content-center profile-btn-dd">
    <img src="/assets/images/profile/png-round.png"
      class="rounded-circle icon-30 object-cover profile-dd d-flex align-items-center justify-content-center" width="30"
      height="30" />
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow dd-notifications">
    <div class="p-x-16 p-y-20 b-b-1">
      <div class="d-flex align-items-center">
        <img src="/assets/images/profile/png-round.png" class="rounded-circle" width="50" height="50" />
        <div class="m-l-16">
          <h6 class="f-s-14 f-w-600 m-0 mat-subtitle-1 d-flex align-items-center">
            PO System
            <span class="f-s-14 d-block text-success m-l-4">Pro</span>
          </h6>
          <span>markrarn&#64;wrappixel.com</span>
        </div>
      </div>
    </div>
    <div class="p-16">
      @for(profile of profiledd; track profile.title) {
      <a class="p-8 text-decoration-none d-block text-hover-primary" [routerLink]="[profile.link]">
        <div class="d-flex align-items-center">
          <h5 class="f-s-14 f-w-500 m-0 textprimary mat-subtitle-1 hover-text">
            {{ profile.title }}
          </h5>
          @if(profile.new) {
          <span class="bg-light-error text-error rounded p-x-8 p-y-2 f-w-500 f-s-12 m-l-8">5</span>
          }
        </div>
      </a>
      }
    </div>
  </mat-menu>
</mat-toolbar>